@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;800&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  background: rgb(218,237,189);
}


/* header */
#main_header {
  height: 100px;
  width: 100%;
  background: rgb(218,237,189);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* main */
.box { 
display: absolute;
position: static;
margin-left: auto;
margin-right: auto;
height: 530px;
width: 40%;
background: white;
border-radius: 10px;
align-items: center;
justify-content: center;
}


button {
    border: 10px solid #004E64;  
    background-color: #004E64;
    border-radius: 10px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase; 
    display:block;
     margin: 0 auto;
     cursor: pointer;
    }
    .button {
        position: absolute;
        width: 100%;
        left: 0;
        top: 550px; 
    }

    button:hover {
        background-color: #00A5CF;
        border:10px solid #00A5CF
    }
    
    h1{
    padding-top: 40px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #004E64;
    }

    h2{
    padding-top: 20px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 50px;
    color: #004E64;
    }
    
    footer{
        display: flex;
        justify-content: center;
    }