html, body {
    margin: 0;
    padding: 0;  
    background: white;
}


.container{
    width: 100%;
    display: grid;
    margin: 0 auto;
    grid-template: 
    "header header " 10vh
    /* "slider slider " 15vh */
    "img1 txt1" 40vh
    "txt2 img2" 40vh
    "img3 txt3" 40vh
    "footer footer " 13vh
  
}

.header{
    grid-area: header;
    background: rgb(218,237,189);
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}


.slider {
    background: #004E64;
    grid-area: slider;

}
.tipos {
    background: goldenrod;
    grid-area: tipos;
}
.img1 {
    background: #004E64;
    grid-area: img1;
    object-fit: cover;
    
}
.txt1 {
    
    grid-area: txt1;
}
.img2 {
    
    grid-area: img2;
}
.txt2 {
    
    grid-area: txt2;
}
.img3 {
    
    grid-area: img3;
}
.txt3 {
    
    grid-area: txt3;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.footer{

    grid-area: footer;
}

/* Fim da grid  */

#main_header {
	height: 100px;
	width: 100%;
	
  position: fixed;
  z-index: 1;
}
#logo {
    padding-top: 18px;
    padding-left:10%;
} 


#nav_header {
  text-align: center;
	width: 100%;
	top:0;
	position: absolute;
	padding-top: 38px;
}

#nav_inicio {
    padding-right: 5%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #25A18E;
}
#nav_inicio:hover {
    color: #F8861B;
}

#nav_o_projeto {
    padding-right: 5%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #25A18E;
}
#nav_o_projeto:hover {
    color: #F8861B;
}

#nav_ajuda {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #25A18E;
}
#nav_ajuda:hover {
    color: #F8861B;
}

#minha_conta {
    position: absolute;
    width: 30%;
    left: 72%;
    top: 28px;
}

#icone_minha_conta {
    position: absolute;
    background: url("../imagens/login.png");
    width: 35px;
    right: 85.78%;
    top: 2.22%;
    bottom: 8.89%;
}


#nav_minha_conta {
    position: absolute;
    left: 20%;
    right: 11.01%;
    top: 0%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #004E64;
}


#nav_entrar_ou_registrar {
    position: absolute;
    left: 20%;
    right: 0%;
    bottom: 0%;
	  top: 25px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #004E64;
}
